body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.user-info-table {
    width: 100%;
    border-collapse: collapse;
}

.user-info-table th, .user-info-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.user-info-table th {
    background-color: #f2f2f2;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

td img {
    display: block;
    margin: 0 auto;
}

#ordersList {
    list-style-type: none;
    padding: 0;
}

#ordersList li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
}

